{% extends 'vacancies/base.html' %}
{% block title %}Список компаний{% endblock %}
{% block container %}
{% load vacancies_filters %}
<main class="container mt-3">
  <section>
    <h1 class="h1 text-center mx-auto mt-4 pt-5" >
      <strong>Все компании</strong>
    </h1>
    <div class="row mt-3">
      <div class="col-12 col-lg-8 offset-lg-2 m-auto">
      {% include 'vacancies/main/search_field.html' %}
      <div class="row mb-0">
        {% for company in companies %}
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <a href="{% url 'company' company_id=company.id %}" style="max-width: 150px;" class="mx-auto d-block">
              {% if company.logo %}
              <img class="mx-auto d-block mw-100" src="{{ company.logo.url }}" alt="{{ company.title}}"/>
              {% else %}
              {{ company.title}}
              {% endif %}
              <div class="card-body">
                <p class="card-text">{{ company.num_vacancy|vacancy_declension }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}