{% load static %}
{% for vacancy in vacancies %}
{% load vacancies_filters %}
<div class="card mb-4">
  <div class="card-body px-4">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-9">
        <h2 class="h2 pb-2">
          <a href="{% url 'vacancy' job_id=vacancy.id %}">{{ vacancy.title }}</a></h2>
        <p class="mb-2">{{ vacancy.specialty.title }} • {{ vacancy.skills|convert_to_list|join:' • ' }}</p>
        <p>От {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
        <p class="text-muted pt-1">{{ vacancy.posted }}</p>
      </div>
      <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center">
        <a href="{% url 'company' company_id=vacancy.company.id %}">
          <img src="{{ vacancy.company.logo.url }}" width="140" height="90" alt="{{ vacancy.company.title }}">
        </a>
      </div>
    </div>
    <a href="#" class="float-right">Вверх</a>
  </div>
</div>
<div></div>
{% endfor %}