{% extends 'vacancies/base.html' %}
{% block title %}Изменить вакансию{% endblock %}
{% block container %}

<main class="container mt-3 pb-5">
  <div class="row mt-5">
    {% include 'vacancies/user/left_vertical_menu.html' %}
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body px-4 pb-4 tab-content">
          <section>
            <h2 class="h4 pt-2 pb-3">Backend Middle/Senior</h2>
            {% if request.GET.submitted %}
            <p class="alert alert-info" role="alert">Вакансия обновлена</p>
            {% endif %}
            {% load crispy_forms_tags %}{% csrf_token %}
            {% crispy form %}
          </section>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}