{% extends 'vacancies/base.html' %}
{% block title %}Авторизация пользователя{% endblock %}
{% block container %}
<main class="container">
  <div class="row">
    <div class="col-8 col-lg-4 offset-2 offset-lg-4">
      <div class="text-center my-5 b-1">
        <p class="h5 font-weight-light {% if message %} alert alert-danger" role="alert">{{ message }}
          {% else %}">Войдите, чтобы управлять{% endif %}</p>
      </div>
      {% load crispy_forms_tags %}{% csrf_token %}
      {% crispy form %}
      <div class="mt-4 text-center"><p>Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрируйтесь!</a></p></div>
    </div>
  </div>
</main>
{% endblock %}